
.chkbox {
    display:none;
}
.chk_label {
    border:solid 0.2rem deepskyblue;
    border-radius:0.25rem;
    padding:0.2rem;
    cursor:pointer;
    transition:0.2s;
}
input[type="checkbox"].chkbox:checked + .chk_label{
    background:deepskyblue;
    transition:0.2s;
}
.search_result {
    max-height:20rem;
    overflow-y:auto;
}


/* control area */
.control_area {
    display:block;
    padding:0.5rem 0.25rem;
    user-select: none;
}
.control_button_area {
    display:inline-block;
    position:relative;
}
.control_button {
    display:inline-block;
    width:3.5rem;
    margin:0 0.25rem;
    border:solid 0.2rem deepskyblue;
    border-radius:0.25rem;
    cursor:pointer;

    font-size:2rem;
    text-align:center;

    transition:0.2s;
}
.control_button:hover {
    background:deepskyblue;
    transition:0.2s;
}
.control_button:active {
    background:white;
    transition:0.2s;
}
.control_tool_tip_topright {
    word-break:keep-all;
    white-space: nowrap;
    display:none;
    position:absolute;

    top:-0.25rem;
    left:0%;
    transform:translateY(-100%);

    font-size:0.85rem;
    color:white;
    background:rgba(0,0,0,0.8);
    padding:0.5rem;
    margin-left:0.5rem;
    border-radius:0.25rem;
}
.control_button:hover + .control_tool_tip_topright {
    display:block;
}

.control_button_success { border-color:forestgreen; }
.control_button_success:hover { background:forestgreen; }
.control_button_success:active { background:white; }

.control_button_danger { border-color:crimson; }
.control_button_danger:hover { background:crimson; }
.control_button_danger:active { background:white; }


